:root {
	--primary: #f6f6f6;
	--primary-rgb: 255, 255, 255;
	--secondary: #333333b3;
	--accent: #036aff;
	--accent-hover: #025bdd;
	--text-color: #141414;
	--text-color-secondary: #a1a1a1;
	--gradient-end: #EBCEE9;
	--gradient-start: #CCE0F2;
	--accent-secondary: #9A1C1C;
	--accent-secondary-light: #ffb1b1;
	--top-bar-gradient-start: #8BAEC4;
	--top-bar-gradient-end: #C295BE;
	--top-bar-border-radius: 0px;

	--gray-text: #333333b3;

	--bg-alpha: 0.6;
	--bg-color: rgba(var(--primary-rgb), var(--bg-alpha));

	--body-common-padding: 40px;
	--body-top-padding: 20px;

	--fragment-border-radius: 20px;

	--main-container-border-radius: 25px;
}


body {
	font-family: "Nunito", sans-serif;
	background: #f6f6f6;
	margin: 0;
	padding: 0;
	height: 100vh;
}

.app {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	height: 100%;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* padding: 15px 20px 15px 0; */
	border-radius: 20px;
	background-color: transparent;
	width: 100%;
	height: 100%;
	/* box-shadow: 0 0px 4px #00000024; */
}

.scroll {
	overflow-y: auto;
	scrollbar-gutter: stable;
}

.toast-container {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	z-index: 9999;
	opacity: 1;
	transform: translateY(0);
}

#toast {
	opacity: 1;
	transition: opacity .5s ease, transform .5s ease;
}

.toast-message.htmx-settling {
	opacity: 1;
	transform: translateY(0);
}

#toast.htmx-swapping {
	opacity: 0;
	transform: translateY(10px);
}
