<div id="toast" hx-trigger="load delay:3s" hx-swap-oob="outerHTML" hx-get="/remove_message" role="alert"
	hx-swap="outerHTML swap:500ms" class="alert alert-error text-white mb-4">
	<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="h-6 w-6 shrink-0 stroke-current">
		<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
			d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
	</svg>
	<span><strong>🚨 Critical Alert:</strong> Temp {{ data.temperature }}°C, Humidity {{ data.humidity }}</span>
</div>
